/* styling for blog review card box */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdff6c;
}
.card-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #1a1a1a; /* Changed border color to match background */
}
.card-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.card-box button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto;
}
.card-box button:hover {
    background-color: #0056b3;
}
.card-box h3 {
    margin-top: 15px;
    font-size: 1.5em;
}
.card-box p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}
.card-box footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.card-box footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
